
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Message;
    </div>
    <div>@Html.ActionLink("Log out", "Logout")</div>
</body>
</html>
